@model LappyShop.Models.Product

@{
    ViewData["Title"] = "ViewDetails";
}

<h1>Laptop Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.image)*@
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.image)" class="rounded mx-auto" style="width: 300px;" alt="@Html.DisplayNameFor(model => model.name)">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            &#8377;@Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Home Page</a> |&nbsp;&nbsp;
    <a class="btn btn-primary text-light" asp-route-id="@Model.ID" asp-action="Create" asp-controller="Orders">Buy</a>
</div>